/*-------------------Couleurs------------------------
Gris foncé : #505050
Gris clair : #606060
Gris très clair : #A6A6A6
---------------------------------------------------*/

body{

    background-image: url("https://raw.githubusercontent.com/codincamp/challenge_2/master/images/bg.png");
}

header, footer, main {
    background-color: white;
    width: 994px;
    margin: auto;
    padding: 0 47px 0 47px;
    box-sizing: border-box;
}

/*-------------------HEADER------------------------*/
h1 {
    font-size: 52px;
    color: #505050;
    padding: 50px 0 10px 0;
}

h1 + p {
    color: #606060;
    font-size: 13px;
    padding-bottom: 25px;
}
/*-------------------Nav------------------------*/
nav li {
    font-size: 17px;
    display: inline-block;
    line-height: 3.8;
    padding-right: 3%;
}

.submenu {

    display: none;
}
 nav ul {
     text-align: center;
 }

nav {
    background-color: #fafafa;
    border: solid 1px #f0f0f0;
    height: 59px;
    margin-bottom: 25px;
    border-left: none;
    border-right: none;

}
/*-------------------Fin Nav------------------------*/

img {
    height: 508px;
    width: 900px;
}


/*------------------Fin HEADER---------------------*/






/*----------------------Main-----------------------*/

h2 {
    font-weight:300;
    color: #505050;
    font-size: 40px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 22px;
}

h2 + p {
    text-align: center;
    font-size: 17px;
    color: #A6A6A6;
    padding-bottom: 30px;
}

p {
    padding-bottom: 30px;
    font-size: 18px;
    color: #606060;
}

hr {
    width: 900px;
    height: 40px;
    border: solid 1px #f0f0f0;
    background-color: #fafafa;
    border-left: none;
    border-right: none;
    margin: 0;

}
/*--------------------Fin Main----------------------*/


/*-------------------FOOTER------------------------*/


/*-------------------Fin FOOTER------------------------*/
